
/* font-family: 'Arbutus Slab', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Playfair Display', serif; */


body{
    background-image: url("https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");
}
  #banner {
      padding: 24px 24px;
      margin-bottom: 0px;
      background-color: rgba(255, 255, 255, 0.596);
      background-image: url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
      background-position: center;
      position: relative;
      height: 250px;
      /* color:rgba(240, 12, 12, 0.561); */
      color:  white;
  }

  #titlecard {
    background-image: url("https://images.unsplash.com/photo-1532153259564-a5f24f261f51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    position: absolute;
    top: 10px;
    bottom: 10px;
  }
  
  #bannerText {
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'Arbutus Slab', serif;
    /* font-family: 'Playfair Display', serif; */
    font-size: 6.5vw;
    text-align: center;
  }
  
  #bannerTag {
    font-size: 1.0vw;
    text-align: center;
  }
  
  #topNavBar {
    height:54px;
    /* background-image: url("https://images.unsplash.com/photo-1513705153361-9bc726c8db67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2167&q=80"); */
    background-color: rgba(0, 0, 0, 0.561);
    color:white;
  }
  
  
  /* #bannerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */
  
  .customContainer {
    margin-top: 10px;
  }
  
  .customCol {
      border: 2px solid black;
      padding: 10px;
  }
  
  #alcoholicCheck {
      padding-right: 20px;
  
  .jumbotron {
    background-color: black;
    color: white;
  }
  
  .container {
    margin: none;
    border: none
  }
  #footer1 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.561);
    height: 30px;
    font-size: 25px;
    position: absolute;
    width: 100%;
  }

  #menuButton {
    color: black;
    background-color: white;
  }
  #searchBar {
    margin-left: auto;
    margin-right: auto;
  }
  #bookSearch {
    text-align: center;
  }
  #recipe {
    text-align: center;
  }
  #drinkImage {
    text-align: center;
  }