/* font-family: 'Arbutus Slab', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Francois One', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Notable', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */


body{
    /* background-color: #FDFFFC; */
    background-image: url("https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");

}

#banner {
    /* padding: 10px 0px;
    margin-bottom: 0px;
    background-color: #FF6600;
    height: 170px;
    color:#FDFFFC; */
    padding: 24px 24px;
    margin-bottom: 0px;
    /* background-color: rgba(13, 15, 15, 0.596); */
    background-image: url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
    background-position: center;
    position: relative;
    height: 250px;
    /* color:rgba(240, 12, 12, 0.561); */
    color:  white;
    /* 131515 */


}
  
#bannerText {
    font-family: 'Arbutus Slab', serif;
    letter-spacing: 4px;
    font-size: 75px;
    text-align: center;
    margin-bottom: 5px;
    background-color: rgba(13, 15, 15, 0.596);
    margin: 0 auto;
    width:400px;
}
  
#bannerTag {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}

#bookShelfTag {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}
  
#topNavBar {
    height:54px;
    background-color: rgba(13, 15, 15, 1);
    color:#FDFFFC;
}
     
.customContainer {
    margin-top: 40px;
}
  
#alcoholicCheck {
    padding-right: 10px;
}
 
.container {
    margin: none;
    border: none
}
  
#searchBar {
    margin-left: auto;
    margin-right: auto;
}
#bookSearch {
    text-align: center;
}
#recipe {
    text-align: center;
}
#drinkImg {
    text-align: center;
    width:128px;
}

#barCartTag {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}

.barCartDrink {
    text-align: center;
    width:128px;
}

.barCartRow {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom:1px solid #131515;
}
  
.customBtn {
    margin-bottom: 20px;
}

.buttonRow {
    margin-right: 5px;
}

#footerTag{
    background-color:#131515;
    color:#FDFFFC;
    text-align: center;
}

#credits {
    background-color:#131515;
    color:#FDFFFC;
    font-size: 8px;
    text-align: center;
}
  
  /* #saveBookBtn {
   
  } */
  
  
  /* @media and screen (screen-size:375px) {
  
  
  } */